<!DOCTYPE HTML>
<!--/* 
        Le contrôleur transmet deux informations à cette vue :
                - tableaux : la liste des tableaux à afficher
                - message : un éventuel message d'erreur ou d'information
*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des tableaux</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
    </head>
    <body>
        <h1>Les tableaux</h1>
        <!--/* On appelle l'URL 'add' du contôleur */-->
        <a th:href="@{add}" href='formulaireTableau.html'>Ajouter un tableau</a>
        <!--/* On affiche un éventuel message d'erreur */-->
        <h3 th:text="${message}">Message de succès ou d'erreur</h3>				
        <table border="1">
            <caption>Liste des tableaux référencés</caption>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Dimensions</th>
                    <th>Support</th>
                    <th>Suppression</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="g: ${tableaux}">
                    <td th:text="${g.titre}"></td>
                    <!-- Si on connait l'artiste et si non null -->
                    <!--                    <td th:if="${g.auteur.nom==null}" th:replace="test" th:text="${g.auteur?.nom}"></td>-->
                    <td th:text="${g.auteur ne null} ? ${g.auteur.nom } : 'Artiste inconnu'" ></td>
                    <td th:text="${g.dimension}"></td>
                    <td th:text="${g.support}"></td>
                    <td><a th:href="@{delete(id=${g.id})}">Supprimer le tableau n° [[${g.id}]]</a></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <hr/>
        <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
        <hr/>
    </body>
</html>